<!DOCTYPE html>
<html>
<head>
    <title>Data Table</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include your custom CSS -->
    <style>
        /* Add any custom styling here */
    </style>
</head>
<body>

<div class="container mt-5">
    <h2>Data Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Exposure</th>
                <th>Predicted Cluster</th>
                <th>Cluster Label</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>c371eb6820214043060538ef4f79b796607c63f73b9a74bf6a4fdf1c1c63ef19</td>
                <td>0.094084967</td>
                <td>1</td>
                <td>0</td>
            </tr>


            <!-- Previous data rows... -->
            <tr>
                <td>1Jkp6RupCtoRvKkAtAh8yRtNJoi8ogMtie</td>
                <td>0.009408162</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw</td>
                <td>7.836088982047242</td>
                <td>2</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1Ej4Jm8J83tKG4wUAbikNF3rQoGckH4Emp</td>
                <td>0.012500087</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>95d36a6926639ba50d02f190d3ca2f9322ce721502d47b32a1e8d8be1b13cb40</td>
                <td>0.061810635</td>
                <td>2</td>
                <td>0</td>
            </tr>
            <tr>
                <td>409803bb5e124fd028c0482027c7722e84ce55b78204b279d3a44aba5e7c1698</td>
                <td>0.757405137</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1Jkp6RupCtoRvKkAtAh8yRtNJoi8ogMtie</td>
                <td>0.009408162</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1Ej4Jm8J83tKG4wUAbikNF3rQoGckH4Emp</td>
                <td>0.012500087</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>95d36a6926639ba50d02f190d3ca2f9322ce721502d47b32a1e8d8be1b13cb40</td>
                <td>0.061810635</td>
                <td>2</td>
                <td>0</td>
            </tr>
            <tr>
                <td>409803bb5e124fd028c0482027c7722e84ce55b78204b279d3a44aba5e7c1698</td>
                <td>0.757405137</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1Jkp6RupCtoRvKkAtAh8yRtNJoi8ogMtie</td>
                <td>0.009408162</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1Ej4Jm8J83tKG4wUAbikNF3rQoGckH4Emp</td>
                <td>0.012500087</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <!-- New data rows... -->
            <tr>
                <td>1KDDhJLFiqoN2JyTb9aUBWwvKHhvqCEni9</td>
                <td>3.76E-06</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>15gUvKo4Tvwp2c2xW751VnmCDFkFnqePEs</td>
                <td>3.75E-06</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>188zgBZy5ed7ehAKG7Nuo54toJddgvS9eL</td>
                <td>3.76E-06</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1NvGdS2J7GG79HVXiBFdhCQiswaE9vAjGJ</td>
                <td>1.55E-05</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1DoiDRUaMneF4VHjRVgto4fnsbGg8zqhez</td>
                <td>3.88E-06</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>


