venv/
Defendify-project/Defendify/__pycache__
Defendify-project/Defendify/__init__.py
Defendify-project/lab/__pycache__
Defendify-project/home/__pycache__
Defendify-project/__pycache__
Defendify-project/db.sqlite3